<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Programming Books List!</h2>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-xs-12">
      <button (click)="toggleBooks()" class="btn btn-primary">
        <ng-container *ngIf="!isShowing">Show Books </ng-container>
        <ng-container *ngIf="isShowing">Hide Books</ng-container>
      </button>
    </div>
  </div>
  <!-- <div class="row" *ngIf="isShowing">
    <ng-container *ngFor="let book of books; let i = index">
      <div class="card col-xs-12 m-2" style="width: 15rem">
        <img
          [src]="book.imagePath"
          alt="{{ book.name }}"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ book.name | titlecase }}</h5>
          <p class="card-text">By {{ book.author }}</p>
          <p>{{ book.amount | currency }}</p>
          <a href="#" class="btn btn-primary">See details</a>
        </div>
      </div>
    </ng-container>
  </div> -->
  <div class="row" *ngIf="isShowing">
    <ng-container *ngFor="let singleBook of books; let i = index">
      <app-book
        [book]="singleBook"
        (emitBookEvent)="addItem($event)"
      ></app-book>
    </ng-container>
  </div>
</div>
